.contact_info {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    margin-top: 0rem;
}

.contact_wrapper {
    grid-column: 1/-1;
    grid-row: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid var(--black-colour);
    padding: 0 10px;
}
.facebook {
    margin-top: 20px;
    cursor: pointer;
}
.facebook h4 {
    width: max-content;
    background-color: var(--background-colour-h1);
    padding: 0 5px 9px 5px;
    color: var(--white-colour);
    text-align: center;
}
.facebook img {
    margin-top: 0.5rem;
}
.about_footer h4 {
    margin-top: 2.1rem;
}
.about_footer ul {
    list-style: none;
    padding: 0;
}
.about_footer li {
    padding: 3px 0;
}
.facebook a {
    color: var(--white-colour);
}
.adress a {
    color: var(--black-colour);
}
.facebook svg,
.phone svg,
.mail svg,
.hours svg,
.adress svg,
.mail svg {
    position: relative;
    font-size: 1.8rem;
    top: 8px;
}
.facebook h4,
.phone h4,
.mail h4,
.hours h4,
.adress h4,
.mail h4,
.about_footer li {
    cursor: pointer;
}
.adress svg {
    font-size: 1.7rem;
}
.mail a {
    color: var(--black-colour);
}
