.contact_info {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    margin-top: 4rem;
}

.contact_wrapper {
    grid-column: 1/-1;
    grid-row: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid var(--black-colour);
    padding: 20px;
}

.facebook h4 {
    width: max-content;
    height: 50px;
    background-color: var(--background-colour-h1);
    padding: 5px;
    color: var(--white-colour);
    text-align: center;
}
.about_footer ul {
    list-style: none;
    padding: 0;
}
.about_footer li {
    padding: 5px 0;
}
.facebook a {
    color: var(--white-colour);
}
.adress a {
    color: var(--black-colour);
}
.facebook svg,
.hours svg,
.adress svg,
.mail svg,
.phone svg {
    position: relative;
    font-size: 1.8rem;
    top: 8px;
}
.hours svg,
.adress svg,
.mail svg,
.phone svg {
    font-size: 1.4rem;
}
.mail a {
    color: var(--black-colour);
}
