.contact_wrapper {
  display: grid;
  justify-content: center;
  gap: 30px;
}

.innerGrid {
  display: grid;
  gap: 30px;
}

.contact_wrapper .mail,
.contact_wrapper .phone,
.contact_wrapper .address a,
.contact_wrapper .hours {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact_wrapper .facebook h4,
.contact_wrapper .facebook h4 a {
  display: flex;
  align-items: center;
}

.contact_wrapper .facebook h4 svg {
  color: var(--white-colour);
  font-size: 26px;
}

.contact_wrapper h4 {
  margin: 0;
}

.contact_wrapper p {
  margin-top: 6px;
  margin-bottom: 0;
}

.contact_wrapper .facebook h4 a {
  margin-left: 6px;
  color: var(--white-colour);
}

.facebook h4 {
  width: max-content;
  background-color: var(--background-colour-h1);
  color: var(--white-colour);
  text-align: center;
  padding: 12px;
  margin-top: 18px;
}

.about_footer ul {
  list-style: none;
  padding: 0;
}

.about_footer ul a {
  color: var(--black-colour);
}

.about_footer li {
  padding: 4px 0;
}

.phone svg,
.mail svg,
.hours svg,
.address svg,
.mail svg {
  font-size: 18px;
  color: var(--black-colour);
  margin-right: 6px;
}

.facebook svg {
  margin-left: 4px;
}

.address h4 {
  cursor: pointer;
}

.address a svg {
  font-size: 26px;
}

.address h4,
.address p {
  color: var(--black-colour);
}

.mail a {
  color: var(--black-colour);
}

@media screen and (min-width: 800px) {
  .contact_wrapper {
    justify-content: space-between;
  }
}
