.globalButton {
    padding: 18px;
    background-color: var(--primary-colour);
    border: 2px solid var(--primary-colour);
    max-width: max-content;
    color: var(--white-colour);
    text-transform: uppercase;
    font-weight: 700;
    margin: 18px auto;
    text-decoration: none;
    display: block;
    font-size: var(--body-font-size);
}

.globalButton:hover {
    background-color: var(--white-colour);
    color: var(--primary-colour);
}