.cartWrapper {
    padding: 30px;
    width: 300px;
    border: 1px solid #000;
    position: absolute;
    top: 40px;
    right: 0;
    background: var(--white-colour);
    z-index: 2;
    max-height: 300px;
    overflow: auto;
    z-index: 999;
}

.cartWrapper h3 {
    text-align: center;
    font-size: 24px;
    margin-top: 0;
}

.cartWrapper .emptyCart h4 {
    font-weight: 300;
    font-size: 16px;
}

.cartWrapper .emptyCart h5 {
    font-size: 18px;
}

.cartWrapper .emptyCart {
    text-align: center;
}

.cartWrapper .fullCart {
    display: grid;
    grid-template-columns: 100px auto;
    gap: 12px;
    margin: 18px 0;
}

.cartWrapper .fullCart img {
    max-width: 100px;
}

.cartWrapper .fullCart .presentation {
    display: flex;
    justify-content: space-between;
}

.cartWrapper .fullCart .presentation h4 {
    width: 50px;
}

.cartWrapper .fullCart .presentation h5 {
    white-space: nowrap;
}

.cartWrapper .fullCart h4,
.cartWrapper .fullCart h5,
.cartWrapper .fullCart p {
    margin: 0;
    font-size: 12px;
}

.cartWrapper .fullCart h5 {
    font-weight: 300;
}

.cartWrapper .fullCart .spaceBetween {
    display: grid;
    align-content: space-between;
}

.cartWrapper .fullCart .bottomProduct,
.cartWrapper .totalCosts {
    display: flex;
    justify-content: space-between;
}

.cartWrapper .totalCosts span {
    font-weight: 700;
    font-size: 14px;
}

.cartWrapper .fullCart .bottomProduct select {
    background-color: transparent;
    outline: none;
    border: 1px solid var(--black-colour);
    padding: 6px;
}

.cartWrapper .fullCart .bottomProduct button {
    background-color: transparent;
    border: none;
}

.cartWrapper .fullCart .bottomProduct button,
.cartWrapper .fullCart .bottomProduct span {
    color: #9C9C9C;
}