.dropdown {
    position: absolute;
    top: 42px;
    background-color: var(--color-h1);
    padding: 18px;
    z-index: 3;
    border: 1px solid #000;
    max-height: 160px;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    gap: 6px;
}

.item {
    width: 250px;
    color: var(--black-colour);
    display: flex;
    align-items: center;
}

.item:not(:last-child) {
    margin-bottom: 6px;
}

.dropdown img {
    width: 60px;
}

.dropdown::-webkit-scrollbar {
    width: 4px;
    background-color: rgb(192, 190, 190);
}

.dropdown p {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.dropdown p:hover {
    cursor: pointer;
}

.title {
    font-size: 12px;
    margin-left: 10px;
}

@media screen and (min-width: 600px) {
    .dropdown {
        width: auto;
    }
}