.shippingDetails form {
    max-width: 600px;
    margin: auto;
}
.shippingDetails form {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 12px;
}

@media screen and (min-width: 700px) {
    .shippingDetails form {
        grid-template-columns: 1fr 1fr;
    }
}