.newArrivals .articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, 230px);
    gap: 30px;
    justify-content: center;
}

.imageWrapper {
    height: 300px;
    width: 230px;
  }

.newArrivals .imageWrapper img {
    max-width: 230px;
    height: 100%;
    object-fit: cover;
}

.newArrivals h2 {
    font-size: 16px;
    font-weight: 300;
    margin: 6px 0;
}

.newArrivals h3 {
    margin-top: 0;
}

.newArrivals span {
    font-weight: 800;
}