.visitStore {
    background-image: url("../../assets/client-image.svg");
    padding: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.visitStore h1 {
    color: #fff;
    text-align: center;
}

.learnMoreBtn {
    max-width: max-content;
    margin: 18px auto;
}

@media screen and (min-width: 700px) {
    .visitStore {
        padding: 100px;
    }
}