body .menu {
  position: absolute;
  overflow: scroll;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: auto;
  background-color: var(--white-colour);
  z-index: 900;
}

.menu_sections a {
  color: var(--black-colour);
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 2rem;
  cursor: pointer;
  color: var(--black-colour);
}

.menu .container {
  padding: 50px;
  max-width: 1300px;
  margin: auto;
}

.visitImage {
  margin: 50px 0;
  padding: 60px;
}

.menuBarInfo {
  border: 1px solid var(--black-colour);
  padding: 30px;
  grid-template-columns: auto;
  gap: 15px;
}

.nav_wrapper ul {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 18px;
}

.nav_wrapper ul li {
  list-style: none;
}

@media screen and (max-width: 699px) {
  .menu {
    height: 250vh;
  }
}

@media screen and (min-width: 700px) {
  .menu {
    height: 150vh;
  }

  .menuBarInfo {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (min-width: 1230px) {
  .menuBarInfo .flexBox {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .menuBarInfo {
    grid-template-columns: 220px 320px 500px;
  }
}

@media screen and (min-width: 1300px) {
  .menuBarInfo {
    grid-template-columns: 200px 350px 520px;
  }
}
