nav.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "b b b"
        "a . c";
    grid-template-rows: auto;
    padding: 30px 0;
    gap: 2em 18px;
}

.search_bar_wrapper {
    position: relative;
}

.search_bar {
    height: 30px;
    width: 30px;
}

.left_nav {
    grid-area: a;
    grid-row: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    grid-area: b;
    grid-row: 1;
    text-align: center;
}

.right_nav {
    grid-area: c;
    grid-row: 2;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right_nav>* {
    margin-left: 18px;
}

.shoppingBag {
    position: relative;
    cursor: pointer;
}

.shoppingBag .cartTotal {
    position: absolute;
    bottom: -2px;
    right: -6px;
    background-color: var(--primary-colour);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 600;
    color: var(--white-colour);
    z-index: 9;
}

@media screen and (min-width: 700px) {
    .search_bar {
        width: auto;
    }

    nav.wrapper {
        grid-template-areas:
            "a b c";
    }

    .left_nav,
    .right_nav {
        grid-row: 1;
    }
}