.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "c c c"
        "a . d"
        "b b b"
        "e e e";
    grid-template-rows: auto;
    padding: 30px 0;
    gap: 12px;
    align-items: center;
}

.left_nav {
    grid-area: a;
    grid-row: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search_bar_wrapper {
    position: relative;
    grid-area: b;
    grid-row: 3;
}

.logo {
    grid-area: c;
    grid-row: 1;
    text-align: center;
}

.right_nav {
    grid-area: d;
    grid-row: 2;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.wrapper {
    grid-area: e;
}

.left_nav>* {
    margin-right: 6px;
}

.right_nav>* {
    margin-left: 12px;
}

.shoppingBag,
.favouritesWrapper {
    position: relative;
}

.shoppingBag .icon,
.favouritesWrapper .icon {
    background: none;
    border: none;
    font-size: 24px;
}

.right_nav svg {
    cursor: pointer;
}

.shoppingBag .cartTotal {
    position: absolute;
    bottom: -2px;
    right: -6px;
    background-color: var(--primary-colour);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 600;
    color: var(--white-colour);
    z-index: 9;
}

.favouritesWrapper .cartFavouritesTotal {
    position: absolute;
    bottom: 0;
    right: -2px;
    background-color: var(--primary-colour);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 600;
    color: var(--white-colour);
    z-index: 9;
}

@media screen and (min-width: 700px) {
    .header {
        grid-template-columns: 48px 1fr 1fr 1fr;
        grid-template-areas: "a b c d"
        "e e e e";
    }

    .left_nav,
    .right_nav, 
    .search_bar_wrapper, 
    .logo {
        grid-row: 1;
    }
}