.sidebar_filters {
    grid-column: 1/4;
    grid-row: auto;
    margin: 3rem 0;
    position: relative;
}

label {
    text-transform: capitalize;
    font-size: 18px;
}

/* The custom checkbox container  */

.container_checkbox {
    display: block;
    position: relative;
    padding-left: 45px;
    cursor: pointer;
    font-size: 1.1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container_checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.container_checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ffff;
    border: 1px solid black;
}

.container_checkbox:hover input~.checkmark {
    background-color: rgb(243, 242, 242);
}

.container_checkbox input:checked~.checkmark {
    background-color: var(--color-orange);
    border: 1px solid var(--color-orange);
}

.container_checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container_checkbox input:checked~.checkmark:after {
    display: block;
}

.container_checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid var(--color-h1);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}