/* same as home home hero */
.products_hero {
    position: relative;
    text-align: center;
}

.products_title {
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.containerProductSection {
    display: grid;
    grid-template-columns: 1fr 11fr;
    gap: 2em;
}

.products_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: auto;
    gap: 18px;
}

/* ends here */

.sort_filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 65px;
    text-transform: uppercase;
    list-style-type: none;
    padding: 0;
}

.ul_title {
    margin-right: auto;
}

.sort,
.filter {
    text-transform: none;
    cursor: pointer;
}

.sort_dropdown {
    position: absolute;
    z-index: 100;
    background-color: var(--color-h1);
    display: none;
}

.sort_dropdown p {
    position: relative;
    padding: 10px 5px;
    display: block;
    cursor: pointer;
}

.sort:hover .sort_dropdown {
    display: block;
}

.img_container {
    position: relative;
    max-width: 300px;
}

.img_container img {
    display: block;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.blue_heart svg {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    background-color: var(--background-colour-h1);
    color: var(--color-h1);
    padding: 3px;
}

.brand {
    text-transform: uppercase;
}

.price {
    font-weight: bold;
}