.products_container {
    display: grid;
}
.products_hero {
    position: relative;
    text-align: center;
}
/* same as home hero */
.products_title {
    text-align: center;
    text-transform: uppercase;
}
.sort_filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    list-style-type: none;
}
.sort_filter .sort {
    margin-left: auto;
    padding: 15px;
}
.sort,
.filter {
    text-transform: none;
}

.mid_section_wrapper {
    display: grid;
    grid-template-columns: repeat(12, 12fr);
    grid-template-rows: auto;
    grid-area: 1/1/-1/-1;
    justify-content: center;
    padding: 30px 0;
    gap: 2em 18px;
}

.products_card {
    grid-area: 1/4/-1/-1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 3rem;
    margin: 3rem 0;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    border: none;
}

.img_container img {
    display: block;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.blue_heart svg {
    position: absolute;
    right: 5px;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    background-color: var(--background-colour-h1);
    color: var(--color-h1);
    padding: 3px;
}

.brand {
    text-transform: uppercase;
}

.price {
    font-weight: bold;
}
