.products_hero {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

.products_hero h1 {
  color: var(--white-colour);
}

.products_title {
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.containerProductSection {
  display: grid;
  grid-template-columns: 1fr 11fr;
  gap: 2em;
}

.products_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 18px;
  justify-items: center;
}

.sort_filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 65px;
  text-transform: uppercase;
  list-style-type: none;
  padding: 0;
}

.ul_title {
  margin-right: auto;
}

.sort,
.filter {
  text-transform: none;
  cursor: pointer;
}

.sort span {
  font-weight: 800;
  display: flex;
}

.sort span svg {
  font-size: 20px;
}

.sort_filter:hover .sort_dropdown {
  border: 1px solid black;
  padding: 10px;
  min-width: 140px;
}

.sort_dropdown p {
  margin: 4px 0;
}

.sort_dropdown {
  position: absolute;
  right: 12%;
  z-index: 100;
  background-color: var(--color-h1);
  display: none;
}

.sort_dropdown p {
  position: relative;
  padding: 10px 5px;
  display: block;
  cursor: pointer;
}

.sort:hover .sort_dropdown {
  display: block;
}

.card {
  position: relative;
  max-width: 300px;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.image {
  transition: transform 0.2s;
}

.image:hover {
  transform: scale(0.9);
}

.blue_heart button,
.blue_heart svg {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: var(--background-colour-h1);
  color: var(--color-h1);
  font-size: 30px;
  padding: 3px;
  z-index: 2;
  cursor: pointer;
  outline: none;
  border: none;
}

.card_txt h2 {
  font-size: 16px;
  font-weight: 300;
  margin: 6px 0;
}

.card_txt h3 {
  margin-top: 0;
}

.price {
  font-weight: bold;
}

.mobile_filters {
  margin-right: auto;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 800;
  display: none;
}

@media screen and (max-width: 600px) {
  .products_title {
    text-align: center;
    font-size: 18px;
  }

  .containerProductSection {
    grid-template-columns: 1fr;
  }

  .img_container img {
    width: 270px;
    height: 270px;
  }

  .blue_heart svg {
    width: 25px;
    height: 25px;
  }

  .mobile_filters {
    display: flex;
  }
}

@media screen and (max-width: 1200px) {
  .sort_dropdown {
    right: 0%;
  }
}

@media screen and (min-width: 800px) {
  .products_wrapper {
    grid-template-columns: repeat(auto-fill, minmax(300px, min-content));
  }
}
